<h1>Carrito</h1>

{{#each cart.products}}
  <div style="border:1px solid #ccc; padding:10px; margin:10px;">
    <h2>{{this.product.title}}</h2>
    <p>Precio: ${{this.product.price}}</p>
    <p>Categoría: {{this.product.category}}</p>
    <p>Cantidad: {{this.quantity}}</p>
  </div>
{{/each}}